package values;

public enum SYSTEM_PROPERTIES {
    ACTIVATE_LOG
        ("true"),

    DATABASE_NAME
        (""),

    DATABASE_USERNAME
        (""),

    DATABASE_PASSWORD
        (""),

    DATABASE_PORT
        (""),

    DATABASE_URL
        (String.format("jdbc:mysql://localhost:%s/%s", DATABASE_PORT.value, DATABASE_NAME.value)),

    DATABASE_MENU_ITEM_TABLE
        (""),

    DATABASE_ORDER_TABLE
        (""),

    DATABASE_ORDER_ITEM_TABLE
        (""),

    DATABASE_RECEIPT_TABLE
        (""),

    DATABASE_USER_TABLE
        (""),

    APPLICATION_TARGET_WIDTH
        ("1366"),

    APPLICATION_TARGET_HEIGHT
        ("768"),

    APPLICATION_MIN_WIDTH
        ("960"),

    APPLICATION_MIN_HEIGHT
        ("540"),

    ;

    public final String value;
    private SYSTEM_PROPERTIES (String _value) {
        this.value = _value;
    }

}
