.baseButton {
    -fx-padding: 14 15 13 15;
    -fx-background-color: -primary-lightgray;
}

.baseButton:hover {
    -fx-background-color: -primary-gray-on-hover;
    -fx-text-fill: -primary-white;
}

.ctaButton {
    -fx-background-color: -primary-green;
    -fx-padding: 12 64 12 64;
    -fx-background-radius: 255px;
    -fx-text-fill: -primary-white;
}

.ctaButton:hover {
    -fx-background-color: -primary-green-on-hover;
}

.outlineButton {
    -fx-background-color: -transparent;
    -fx-border-radius: 255px;
    -fx-padding: 12 64 12 64;
    -fx-border-width: 1px;
    -fx-border-color: -primary-black;
}

.outlineButton:hover {
    -fx-text-fill: -primary-black-on-hover;
    -fx-border-color: -primary-black-on-hover;
}

.destructiveButton {
    -fx-background-color: -primary-red;
    -fx-padding: 12 64 12 64;
    -fx-background-radius: 255;
    -fx-text-fill: -primary-white;
}

.destructiveButton:hover {
    -fx-background-color: -primary-red-on-hover;
}

.editButton {
    -fx-background-color: -primary-orange;
    -fx-padding: 12 64 12 64;
    -fx-background-radius: 255px;
    -fx-text-fill: -primary-black;
}

.editButton:hover {
    -fx-background-color: -primary-orange-on-hover;
    -fx-text-fill: -primary-white;
}

.textButton {
    -fx-background-color: -transparent;
    -fx-padding: 12 32 12 32;
    -fx-text-fill: -primary-black;
}

.textButton:hover {
    -fx-text-fill: -primary-black-on-hover;
}

.disabledButton {
    -fx-cursor: default !important;
    -fx-background-color: -primary-gray;
    -fx-padding: 12 64 12 64;
    -fx-background-radius: 255px;
    -fx-text-fill: -primary-white;
}

.radioButton {
    -fx-background-color: -primary-lightgray;
    -fx-border-color: -primary-gray;
    -fx-text-fill: -primary-black-on-hover;
    -fx-padding: 12 24 12 24;
    -fx-border-width: 1px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.radioButton:hover {
    -fx-background-color: -primary-lightgray-on-hover;
}

.radioButtonSelected {
    -fx-background-color: -primary-lightblue;
    -fx-border-color: -border-lightblue;
    -fx-text-fill: -text-lightblue;
    -fx-padding: 12 24 12 24;
    -fx-border-width: 1px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}
