@import url('spacing.css');
@import url('button.css');
@import url('textfield.css');
@import url('color.css');

.root {
    -fx-letter-spacing: 1.5;
}

.letterSpacingLoose {
    -fx-letter-spacing: 1.5;
}

.underline {
    -fx-underline: true;
}

.underlineWhenHovered:hover {
    -fx-underline: true;
}

.cursorPointer:hover {
    -fx-cursor: hand;
}

.errorRedBackground {
    -fx-background-color: -primary-red;
    -fx-prompt-text-fill: -primary-lightgray;
    -fx-text-fill: -primary-white;
}

.errorRedText {
    -fx-text-fill: -primary-red;
}
